{% extends "layouts/base.html.twig" %}
{% block title %}Account{% endblock %}


{% block body %}
   <h1 class="h3 mt-5">Bienvenue <span class="text-info">{{app.user.fullName}}</span> dans votre espace personnel</h1>
   {% if is_granted('ROLE_MANAGER') %}
<p class="pt-4">
Vous êtes Administrateur:
	<a href="{{asset('admin')}}" class="text-info">Accéder au BackOffice</a>
</p>

   
   {% endif %}
   <p>C'est ici que vous allez pouvoir gérer votre profil et voir vos réservations</p>
   <hr>
    
<div class="row text-center">
	<div class="col-md-4">
		<div class="account-item">
			<a href="{{path('app_account_password')}}">Changer votre mot de passe</a>
			<br>
		</div>
	</div>

	<div class="col-md-4">
		<div class="account-item">
			<a href="{{path('app_booking')}}">Mes reservations</a>
		</div>
	</div>

	<div class="col-md-4">
		<div class="account-item">
			<a href="{{path('app_contact')}}">Une questions ?</a>
		</div>
	</div>
</div>

<hr>

    

   
{% endblock %}