{% extends 'layouts/base.html.twig' %}

{% block title %}Update password -
{% endblock %}

{% block body %}
	<h1 class='mt-5'>Update password</h1>
	<a href="{{path('app_account')}}">Go back to my account</a>
	<hr>
	
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-dark rounded w-100">Update</button>
	{{ form_start(form) }}
	{{ form_end(form) }}
{% endblock %}
