{% extends "layouts/base.html.twig" %}
{% block title %}Hotel - {% endblock %}


{% block body %}
<div class=" mb-5 container text-center">
  <h1 class="">our establishments</h1><hr class="mb-5">
   
         {% for establishement in establishements %}
         <div class="container mb-5 ">
           <div class="row d-flex">
            <div class="md-auto col-12">
                <h3 class="mb-4">{{establishement.city}}</h3>
        <img src="/uploads/images/hotels/{{establishement.illustration}}" alt="" class ="img-fluid">
        <h3 class="mt-2">{{establishement.name}} <span class="stars">★ ★ ★ ★ ★</span> </h3>
        <h4 class="text-muted display-12 mb-4">{{establishement.subtitle}}</h4>
        <p>{{establishement.description|striptags}} <br>
        <a href="{{path('app_establishement_show', {id: establishement.id})}}" class="btn ">-> Découvrir</a><br>
        <a href="" class="btn btn-info w-100">Réserver</a>
        </p>
            </div>
           </div>     
         </div>
      
    
    {% endfor %}

</div>
    
  


   
{% endblock %}