{% extends 'layouts/base.html.twig' %}

{% block title %}Hypnos{% endblock %}


  {% block banner %}

     <div class="container-fluid text-center" id="hotel-banner" style=";background : url('/img/banner.jpg'); background-size:cover;background-position:center;">
       <h1 class="pt-4 display-3">Hypnos Hotels</h1>
       <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
       <p><a class="mt-3 btn btn-info" href="#" role="button">Book a suite &raquo;</a></p>
     </div>
    
 {% endblock %}
    
    {% block body %}

   <div class="container-fluid">
   <h1 class="text-center">Our Favourites</h1><hr>
   <div class="mt-5 row text-center d-flex align-items-stretch">

    {% for establishement in establishements %}
      <div class="card mb-5 border-info">
  <h3 class="card-header">{{establishement.name}}</h3>
  <div class="card-body">
    <h5 class="card-title">{{establishement.city}}</h5>
    <h6 class="card-subtitle text-muted">{{establishement.subtitle}}</h6>
  </div>
    <img src="/uploads/images/hotels/{{establishement.illustration}}" alt="">
  </svg>
  <div class="card-body">
    <p class="card-text">{{establishement.description|striptags}}</p>
  </div>
 
  <div class="card-body text-start">
    <a href="{{path('app_establishement_show', {id: establishement.id})}}" class="card-link"> ->Discover</a>
  </div>
  <div class="card-footer">
    <a href="" class="btn btn-info">Reserve</a>
  </div>
</div>

    {% endfor %}
  
   </div>
   </div>  

 
 
    {% endblock %}  
     
