<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_home')}}">
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
      Hypnos
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav me-auto">
           <li class="nav-item">
            <a class="nav-link" href="{{path('app_establishement')}}">Hotels</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="">A propos</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto"> 
        {% if app.user %}
       
         <li class="nav-item">
            <a class="nav-link" href="{{path('app_account')}}">Mon compte <small>({{app.user.firstname}})</small></a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
          </li>
       
        {% else %} 
           
            <li class="nav-item">
            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
          </li>

        {% endif %}   

        </ul>
      </div>
    </div>
  </nav>
  


