{% extends "layouts/base.html.twig" %}
{% block title %}Mes Réservations -
{% endblock %}


{% block body %}
	<div class="container">
	 <div class="col-12 mx-auto">
		<h1 class="mt-5 text-center text-info">Mes Réservations</h1>

		<table class="mt-5 table table-hover text-center">
			<thead>
				<tr class="table-light">
					<th scope="col">N°</th>
					<th scope="col">Etablissement</th>
					<th scope="col">Debut</th>
					<th scope="col">Fin</th>
					<th scope="col">Details</th>
				</tr>
			</thead>
			<tbody>
				{% for booking in bookings %}
					<tr class="table-primary">
						<td>{{booking.id}}</td>
						<td>{{booking.establishement.name}}</td>
						<td>{{booking.start|date('d-m-Y')}}</td>
						<td>{{booking.end|date('d-m-Y')}}</td>
						<td>
						<a href="{{path('app_booking_show', {id: booking.id})}}">
							<i class="fa-solid fa-plus btn btn-info rounded"></i>
						</a>
						</td>
						</tr>
					{% endfor %}
			</tbody>
		</table>
	</div>
	</div>


{% endblock %}
